
.logo{
    position: absolute;
    top: 15%;
    color: $dark-blue;
    font-size: 3rem;
    border: 2px solid $dark-blue;
    font-weight: 700;
}
.start{
    font-size: 2rem;
    font-weight: 600;
    
}