
.logo{
    position: absolute;
    top: 15%;
    color: $dark-blue;
    font-size: 3rem;
    border: 2px solid $dark-blue;
    font-weight: 700;
}
.start{
    font-size: 2rem;
    font-weight: 600;
    
}

#home{
    justify-content: space-around;
    padding: 5rem;
    box-sizing: border-box;
}

#title{
    font-size: 5rem;
    text-shadow: -5px -5px 0px $orange;
}

.info{
    border: 2px solid $dark-blue;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: $green;
}
